// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #1e90ff;
    --ion-color-secondary: #ffc107;
    --ion-color-tertiary: #00b894;
  }
  