<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Create Account</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="register()">
        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input placeholder="Email" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input placeholder="Password" type="password" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Role</ion-label>
          <ion-select [(ngModel)]="role" name="role" placeholder="Select Role">
            <ion-select-option value="admin">Admin</ion-select-option>
            <ion-select-option value="faculty">Faculty</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button expand="block" class="ion-margin-top" type="submit">Register</ion-button>
        <ion-text color="medium">
          <p class="ion-text-center">Already have an account? <a routerLink="/auth/login">Login</a></p>
        </ion-text>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
